<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="MemberAction" class="com.fulinhua.action.MemberAction">
		<property name="memberService" ref="MemberServiceImpl"></property>
	</bean>


	<bean id="ajaxAction" class="com.fulinhua.action.action">
	</bean>
	<bean id="MemberServiceImpl" class="com.fulinhua.service.impl.MemberServiceImpl">
		<property name="MemberDao" ref="MemberDaoImpl"></property>
		<property name="bankDao" ref="BankDaoImpl"></property>
		<property name="hotelDao" ref="hotelDaoImpl"></property>
	</bean>
	<bean id="MemberDaoImpl" class="com.fulinhua.dao.impl.MemberDaoImpl"></bean>
	<bean id="BankDaoImpl" class="com.fulinhua.dao.impl.BankDaoImpl"></bean>

	<bean id="HotelAction" class="com.fulinhua.action.HotelAction">
		<property name="hotelservice" ref="HotelServiceImpl"></property>
	</bean>
	<bean id="HotelServiceImpl" class="com.fulinhua.service.impl.HotelServiceImpl">
		<property name="hotelDao" ref="hotelDaoImpl"></property>
		<property name="memberDao" ref="MemberDaoImpl"></property>
 	</bean>
	<bean id="hotelDaoImpl" class="com.fulinhua.dao.impl.HotelDaoImpl"></bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="HotelManageAction" class="com.fulinhua.action.HotelManageAction">
		<property name="hotelManageService" ref="HotelManageServiceImpl"></property>
	</bean>
	<bean id="HotelManageServiceImpl" class="com.fulinhua.service.impl.HotelManageServiceImpl">
		<property name="hotelManageDao" ref="hotelManageDaoImpl"></property>
		<property name="memberDao" ref="MemberDaoImpl"></property>
	</bean>
	<bean id="hotelManageDaoImpl" class="com.fulinhua.dao.impl.HotelManageDaoImpl">

	</bean>


	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/newtable" />
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>



</beans>