<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="bookAction" scope="prototype" class="com.tutorialspoint.struts2.action.BookSpringAction">
		<property name="service" ref="serviceimpl"></property>
	</bean>
	<bean id="uploadAction" class="com.tutorialspoint.struts2.action.uploadAction">
	</bean>
	<bean id="serviceimpl" class="com.tutorialspoint.struts2.action.IBookServiceImpl">
	<property name="dao" ref="daoimpl"></property>
	</bean>
	<bean id="userAction" class="com.tutorialspoint.struts2.action.UserAction">
	<property name="service" ref="userimpl"></property>
	</bean>
	<bean id="userimpl" class="com.tutorialspoint.struts2.action.UserServiceImpl">
	<property name="dao" ref="daoimpl"></property></bean>
	<bean id="daoimpl" class="com.tutorialspoint.struts2.dao.BaseDao"></bean>
	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
			</props>
		</property>
	</bean>
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>